<% content_for :header do %>
  <% content_for :breadcrumb do %>
  <h6 class="h2 text-white d-inline-block mb-0">User</h6>
  <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
    <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
      <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
      <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page">User</li>
    </ol>
  </nav>
  <% end %>
  <% content_for :header_button do %>
    <%= link_to 'Tambah Tahun', '#modal-new-year',class: "btn btn-sm btn-neutral", "data-toggle": "modal" %>
  <% end %>
  <%= render partial: 'layouts/header_all' %>
<% end %>
<% content_for :isi_content do %>
<div class="row">
  <% @years.sort{|a,b|b.year<=>a.year}.each do |year| %>
    <div class="col-xl-3">
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col ml--2">
              <h5 class="h2 title">
                <span class="d-block mb--1"><%= year.year %></span>
                <small><%= year.action_plans.count %> Rencana Aksi</small>
              </h5>
            </div>
            <div class="col-auto">
              <%= link_to 'Lihat', year_action_plans_path(year), class: "btn btn-sm btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="modal fade modal-new" id="modal-new-year" tabindex="-1" role="dialog" aria-labeledby="modal-new-year" aria-hidden="true">
  <div class="modal-dialog modal- modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="card bg-secondary border-0 mb-0">
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">Tahun</div>
            <%= render partial: 'years/form', locals: {year: Year.new} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% end %>
<% if notice %>
  <div class="notifikasi" data-notifikasi="<%= notice %>"></div>
<% end %>
<%= render partial: 'layouts/body' %>
