<%= form_for (action_plan),url: dashboard_city_year_action_plans_path(@city,@year), method: :post, remote: true, role: "form" do |form| %>
  <% if action_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(action_plan.errors.count, "error") %> prohibited this action_plan from being saved:</h2>

      <ul>
      <% action_plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if action_plan.slug %>
    <div class="form-group mb-3">
      <%= form.text_field :code_action_plans, id: "kode-#{action_plan.slug}" ,class: "form-control", placeholder: 'Kode Rencana Aksi', autocomplete: "off", required: true %>
    </div>

    <div class="form-group">
      <%= form.text_field :action_plan, id:"action-plan-#{action_plan.slug}", class: "form-control", placeholder: 'Nama Rencana Aksi', autocomplete: "off", required: true %>
    </div>

    <div class="form-group mb-3">
      <%= form.text_area :responsible, id:"description-#{action_plan.slug}", class: "form-control", placeholder: 'Penanggung Jawab', autocomplete: "off", required: true %>
    </div>

    <div class="form-group">
      <%= form.text_area :description, id:"description-#{action_plan.slug}", class: "form-control", placeholder: 'Deskripsi', autocomplete: "off", required: true %>
    </div>
  <% else %>
    <div class="form-group mb-3">
      <%= form.text_field :code_action_plans, class: "form-control", placeholder: 'Kode Rencana Aksi', autocomplete: "off", required: true %>
    </div>

    <div class="form-group mb-3">
      <%= form.text_field :action_plan, class: "form-control", placeholder: 'Nama Rencana Aksi', autocomplete: "off", required: true %>
    </div>

    <div class="form-group mb-3">
      <%= form.text_area :responsible, class: "form-control", placeholder: 'Penanggung Jawab', autocomplete: "off", required: true %>
    </div>

    <div class="form-group">
      <%= form.text_area :description, class: "form-control", placeholder: 'Deskripsi', autocomplete: "off", required: true %>
    </div>
  <% end %>

  <div class="text-center">
    <%= form.submit 'Simpan', class: "btn btn-primary my-3" %>
  </div>
<% end %>
