<% content_for :header do%>
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0"><%= @year.year %></h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Rencana Aksi</a></li>
                <li class="breadcrumb-item active" aria-current="page"><%= @year.year %></li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <%# yield :header_button %>
            <% if (mode_view(@year.year,"01",nil)) %>
              <%= link_to 'Tambah', '#modal-new-actionplan', class: "btn btn-sm btn-neutral", data: {toggle: "modal"} %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<% content_for :isi_content do %>

<% if (mode_view(@year.year,"01",nil)) %>
<div class="row">
  <div class="col-xl">
    <div class="card bg-white">
      <div class="card-header">
        <h5 class="h3 mb-0">Daftar Rencana Aksi <%=@city.city%></h5>
      </div>
      <div class="card-body px-0 py-1">
        <ul class="list-group list-group-flush list">
        <% @action_plans.each.with_index do |action_plan, index| %>
          <li class="list-group-item px-4">
            <div class="row align-items-center pb-3">
              <div class="col">
                <small><%= action_plan.code_action_plans %></small>
                <h4 class="mb-0">
                  <%= action_plan.action_plan %>
                </h4>
              </div>
              <div class="col-auto">
                <% if index.even? %>
                  <button type="button" class="btn btn-sm btn-neutral mr-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-h"></i>
                  </button>
                <% else %>
                  <button type="button" class="btn btn-sm btn-primary mr-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-h"></i>
                  </button>
                <% end %>
                <div class="dropdown-menu dropdown-menu-right" style="">
                  <a class="dropdown-item" data-toggle="collapse" href="#collapse-ra-<%= action_plan.slug %>" role="button" aria-expanded="false" aria-controls="collapse-ra-<%= action_plan.slug %>">
                    Lihat Detail
                  </a>
                  <%= link_to 'Unggah Dokumen', dashboard_city_year_action_plan_path(@city,@year,action_plan), class:"dropdown-item" %>
                  <%= link_to 'Ubah Nama', '', class: "dropdown-item", data: {toggle: "modal", target: "#modal-edit-actionplan-#{action_plan.slug}"} %>
                  <%= link_to 'Hapus', dashboard_city_year_action_plan_path(@city,@year,action_plan), class:"dropdown-item", method: :delete, data: { confirm: 'Anda Yakin?' } %>
                </div>
              </div>
            </div>

            <div class="collapse" id="collapse-ra-<%= action_plan.slug %>">
              <div class="card bg-white mb-0">
                <div class="table-responsive">
                  <table class="table align-items-center table-flush">
                    <thead class="thead-neutral">
                      <tr>
                        <th class="bg-transparent"></th>
                        <th class="text-center" scope="col">Daftar Hadir</th>
                        <th class="text-center" scope="col">Foto Materi</th>
                        <th class="text-center" scope="col">Foto Kegiatan</th>
                        <th class="text-center" scope="col">Materi</th>
                        <th class="text-center" scope="col">Notulen</th>
                        <th class="text-center" scope="col">Scan Dokumen</th>
                        <th class="text-center" scope="col">Scan TTD</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th class="text-muted bg-transparent" style="width:67px;" scope="row">B-04</th>
                        <td class="text-center"><i class="fa fa-check text-success"></i></td>
                        <td class="text-center"><i class="fa fa-times text-danger"></i></td>
                        <td class="text-center"><i class="fa fa-check text-success"></i></td>
                        <td class="text-center"><i class="fa fa-check text-success"></i></td>
                        <td class="text-center"><i class="fa fa-check text-success"></i></td>
                        <td class="text-center"><i class="fa fa-times text-danger"></i></td>
                        <td class="text-center"><i class="fa fa-times text-danger"></i></td>
                      </tr>
                      <tr>
                        <th class="text-muted bg-transparent" style="width:67px;" scope="row">B-08</th>
                        <td class="text-center"><i class="fa fa-times text-danger"></i></td>
                        <td class="text-center"><i class="fa fa-check text-success"></i></td>
                        <td class="text-center"><i class="fa fa-times text-danger"></i></td>
                        <td class="text-center"><i class="fa fa-check text-success"></i></td>
                        <td class="text-center"><i class="fa fa-check text-success"></i></td>
                        <td class="text-center"><i class="fa fa-times text-danger"></i></td>
                        <td class="text-center"><i class="fa fa-check text-success"></i></td>
                      </tr>
                      <tr>
                        <th class="text-muted bg-transparent" style="width:67px;" scope="row">B-12</th>
                        <td class="text-center"><i class="fa fa-check text-success"></i></td>
                        <td class="text-center"><i class="fa fa-check text-success"></i></td>
                        <td class="text-center"><i class="fa fa-check text-success"></i></td>
                        <td class="text-center"><i class="fa fa-check text-success"></i></td>
                        <td class="text-center"><i class="fa fa-times text-danger"></i></td>
                        <td class="text-center"><i class="fa fa-times text-danger"></i></td>
                        <td class="text-center"><i class="fa fa-check text-success"></i></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="modal fade modal-new" id="modal-new-actionplan" tabindex="-1" role="dialog" aria-labeledby="modal-new-actionplan" aria-hidden="true">
  <div class="modal-dialog modal- modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="card bg-secondary border-0 mb-0">
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">Rencana Aksi</div>
            <%= render partial: 'form', locals: {year: @year, action_plan: ActionPlan.new} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% @action_plans.each do |action_plan| %>
<div class="modal fade modal-edit" id="modal-edit-actionplan-<%=action_plan.slug%>" tabindex="-1" role="dialog" aria-labeledby="modal-edit-actionplan-<%=action_plan.slug%>" aria-hidden="true">
  <div class="modal-dialog modal- modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="card bg-secondary border-0 mb-0">
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">Rencana Aksi</div>
            <%= render partial: 'form', locals: {year: @year, action_plan: action_plan} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% end %>

<% end %>
<%= render partial: 'layouts/body' %>
