<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-grup mb-3">
    <%= form.text_field :email, class:"form-control",placeholder:"Email"%>
  </div>

  <div class="form-grup mb-3">
    <%= form.text_field :username, class:"form-control", placeholder:"Username" %>
  </div>

  <div class="form-grup mb-3">
    <%= form.select(:city_id ,City.all.collect{|u| [u.city, u.id]},{}, class:"form-control", 'data-toggle':'select')%>
  </div>

  <div class="form-grup mb-3">
    <%= form.select :role_id ,Role.all.collect{|u| [u.name_role, u.id]},{}, class:"form-control" %>
  </div>

  <div class="form-grup mb-3">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= form.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:"Password"%>
  </div>

  <div class="field">
    <%= form.password_field :password_confirmation, autocomplete: "new-password", class:"form-control",placeholder:"Password Confirmation" %>
  </div>

  <div class="text-center">
    <%= form.submit 'CREATE USER', class:"btn btn-primary my-3" %>
  </div>
<% end %>
