<p id="notice"><%= notice %></p>


<%= @city_param_url.city %>
detail city

<h1>Dashboard Years</h1>

<table>
  <thead>
    <tr>
      <th>Tahun</th>
      <th>Banyak RA</th>
      <th>Tools</th>
    </tr>
  </thead>

  <tbody>
    <% @dashboard_years.each do |dashboard_year| %>
      <tr>
        <td><%= dashboard_year.year %></td>
        <td><%= dashboard_year.action_plans.where('city_id = ?', @city_param_url.id).count %></td>
        <td><%= link_to 'Show', dashboard_city_year_action_plans_path(@city_param_url,dashboard_year) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

