<%# <p id="notice"><%= notice %></p> %>
<% content_for :header do %>
  <div class="header bg-primary pb-7">

    <% content_for :breadcrumb do %>

    <% end %>
    <% content_for :header_button do %>

    <% end %>
    <%= render partial: 'layouts/header_all'%>
  </div>
<% end %>

<% content_for :isi_content do %>
<div class="row mt--8">
  <div class="col-xl">
    <div class="card">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col-auto">
            <% if (@city_param_url.logo_city.url(:thumb) != '/images/thumb/missing.png')%>
              <%= image_tag @city_param_url.logo_city.url(:thumb), style: "width: 109px; height: 160px" %>
            <% else %>
              <%= image_tag 'img/no_image.png', style: "width: 130px; height: 130px" %>
            <% end %>
          </div>
          <div class="col pl-4">
            <div class="row">
              <h2 class="mb-0"><%= @city_param_url.city %></h2>
            </div>
            <div class="row">
              <div class="col pl-0">
                <h5 class="mb-0">
                  Walikota/Bupati : <%= @city_param_url.mayor %>
                </h5>
                <h5 class="mb-0">
                  Wakil Walikota/Bupati: <%= @city_param_url.vice_mayor %>
                </h5>
                <h5 class="mb-0">
                  Kepala Kesbangpol : <%= @city_param_url.head_of_kesbangpol %>
                </h5>
                <h5 class="mb-0">
                  Head of Division : <%= @city_param_url.head_division %>
                </h5>
                <h5 class="mb-0">
                  Alamat : <%= @city_param_url.address %>
                </h5>
                <h5 class="mb-0">
                  Telp : <%= @city_param_url.telp %>
                </h5>
                <h5 class="mb-0">
                  Email : <%= @city_param_url.email %>
                </h5>
              </div>
              <div class="col">
                <h5 class="mb-0">
                  Luas Wilayah : <%= @city_param_url.area %>km<sup>2</sup>
                </h5>
                <h5 class="mb-0">
                  Jumlah Penduduk : <%= @city_param_url.population %>
                </h5>
                <h5 class="mb-0">
                  Jumlah Kecamatan : <%= @city_param_url.sub_district %>
                </h5>
                <h5 class="mb-0">
                  Jumlah Desa/Kelurahan : <%= @city_param_url.village %>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
<% @dashboard_years.sort{|a,b|b.year<=>a.year}.each do |dashboard_year| %>
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col ml--2">
              <h4 class="mb-0">
                <%= dashboard_year.year %>
              </h4>
              <small><%= dashboard_year.action_plans.where('city_id = ?', @city_param_url.id).count %> Rencana Aksi </small>
            </div>
            <div class="col-auto">
              <%= link_to 'Lihat', dashboard_city_year_action_plans_path(@city_param_url,dashboard_year), class:'btn btn-sm btn-primary'%>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
</div>

<% end %>
<% if notice %>
  <div class="notifikasi" data-notifikasi="<%= notice %>"></div>
<% end %>
<%= render partial: 'layouts/body' %>
