<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @permission.name %>
</p>

<p>
  <strong>Resource:</strong>
  <%= @permission.resource %>
</p>

<p>
  <strong>Action:</strong>
  <%= @permission.action %>
</p>

<p>
  <strong>Description:</strong>
  <%= @permission.description %>
</p>

<p>
  <strong>Page:</strong>
  <%= @permission.page %>
</p>

<p>
  <strong>Path:</strong>
  <%= @permission.path %>
</p>

<%= link_to 'Edit', edit_permission_path(@permission) %> |
<%= link_to 'Back', permissions_path %>
