<%= form_with(model: dashboard_city, local: true) do |form| %>
  <% if dashboard_city.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dashboard_city.errors.count, "error") %> prohibited this dashboard_city from being saved:</h2>

      <ul>
      <% dashboard_city.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md">
      <!-- <div class="form-group mb-3"> -->
        <%# label(:city, :city, "Nama Kabupaten/Kota", class: 'form-control-label') %>
        <%# form.text_field :city, class: "form-control", placeholder: 'Nama Kabupaten/Kota', autocomplete: "off", required: true %>
      <!-- </div> -->
      <div class="form-group mb-3">
        <%= label(:city, :mayor, "Bupati/Walikota", class: 'form-control-label') %>
        <%= form.text_field :mayor, class: "form-control", placeholder: 'Bupati/Walikota', autocomplete: "off", required: true %>
      </div>
      <div class="form-group mb-3">
        <%= label(:city, :vice_mayor, "Wakil Bupati/Walikota", class: 'form-control-label') %>
        <%= form.text_field :vice_mayor, class: "form-control", placeholder: 'Wakil Bupati/Walikota', autocomplete: "off", required: true %>
      </div>
      <div class="form-group mb-3">
        <%= label(:city, :area, "Luas Wilayah km", class: 'form-control-label') %> <label><sup>2</sup></label>
        <%= form.text_field :area, class: "form-control", placeholder: 'Luas Wilayah', autocomplete: "off", required: true %>
      </div>
      <div class="form-group mb-3">
        <%= label(:city, :population, "Jumlah Penduduk", class: 'form-control-label') %>
        <%= form.text_field :population, class: "form-control", placeholder: 'Jumlah Penduduk', autocomplete: "off", required: true %>
      </div>

    </div>
    <div class="col-md">
      <!-- <div class="form-group mb-3">
        <%# <%= label(:city, :head_of_kesbangpol, "Kepala Kesbangpol", class: 'form-control-label') %> %>
        <%# <%= form.text_field :head_of_kesbangpol, class: "form-control", placeholder: 'Kepala Kesbangpol', autocomplete: "off", required: true %> %>
      </div>
      <div class="form-group mb-3">
        <%# <%= label(:city, :head_division, "Kepala Bagian", class: 'form-control-label') %> %>
        <%# <%= form.text_field :head_division, class: "form-control", placeholder: 'Kepala Bagian', autocomplete: "off", required: true %> %>
      </div>
      <div class="form-group mb-3">
        <%# <%= label(:city, :address, "Alamat", class: 'form-control-label') %> %>
        <%# <%= form.text_area :address, class: "form-control", placeholder: 'Alamat', autocomplete: "off", required: true, rows: "4", resize: "none" %> %>
      </div> -->
      <div class="form-group mb-3">
        <%= label(:city, :sub_district, "Jumlah Kecamatan", class: 'form-control-label') %>
        <%= form.text_field :sub_district, class: "form-control", placeholder: 'Jumlah Kecamatan', autocomplete: "off", required: true %>
      </div>
      <div class="form-group mb-3">
        <%= label(:city, :vicevillage_mayor, "Jumlah Kelurahan/Desa", class: 'form-control-label') %>
        <%= form.text_field :village, class: "form-control", placeholder: 'Jumlah Kelurahan/Desa', autocomplete: "off", required: true %>
      </div>
      <div class="form-group mb-3">
        <%= label(:city, :telp, "Nomor Telepon", class: 'form-control-label') %>
        <%= form.text_field :telp, class: "form-control", placeholder: 'Nomor Telepon', autocomplete: "off", required: true %>
      </div>
      <div class="form-group mb-3">
        <%= label(:city, :email, "Email", class: 'form-control-label') %>
        <%= form.text_field :email, class: "form-control", placeholder: 'Email', autocomplete: "off", required: true %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <%= label(:city, "", "Logo", class: 'form-control-label') %>
        <div class="custom-file">
          <%= form.file_field :logo_city, class: "custom-file-input", "data-multiple-caption": "{count} files selected", autocomplete: "off", lang: "en" %>
          <label class="custom-file-label" for="logo-city">Unggah Logo</label>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <%= form.submit 'Simpan', class: "btn btn-primary my-3" %>
  </div>
<% end %>
