<% content_for :header do %>
  <div class="header bg-primary pb-7">

    <% content_for :breadcrumb do %>

    <% end %>
    <% content_for :header_button do %>

    <% end %>
    <%= render partial: 'layouts/header_all'%>
  </div>
<% end %>

<% content_for :isi_content do %>
<div class="row mt--8">
  <div class="col-xl">
    <div class="card">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col-auto">
            <% if (@dashboard_city.logo_city.url(:thumb) != '/images/thumb/missing.png')%>
              <%= image_tag @dashboard_city.logo_city.url(:thumb), style: "width: 109px; height: 160px" %>
            <% else %>
              <%= image_tag 'img/no_image.png', style: "width: 130px; height: 130px" %>
            <% end %>
          </div>
          <div class="col pl-4">
            <div class="row">
              <h2 class="mb-0"><%= @dashboard_city.city %></h2>
              <span data-toggle="modal" data-target="#edit-dashboard-city">
                <button type="button" class="btn btn-sm btn-outline-primary border-0" data-toggle="tooltip" data-placement="top" title="Ubah">
                  <i class="fa fa-edit"></i>
                </button>
              </span>
            </div>
            <div class="row">
              <div class="col pl-0">
                <h5 class="mb-0">
                  Walikota/Bupati : <%= @dashboard_city.mayor %>
                </h5>
                <h5 class="mb-0">
                  Wakil Walikota/Bupati: <%= @dashboard_city.vice_mayor %>
                </h5>
                <!-- <h5 class="mb-0">
                  <%# Kepala Kesbangpol : <%= @city_param_url.head_of_kesbangpol %> %>
                </h5>
                <h5 class="mb-0">
                  <%# Head of Division : <%= @city_param_url.head_division %> %>
                </h5>
                <h5 class="mb-0">
                  <%# Alamat : <%= @city_param_url.address %> %>
                </h5> -->
                <h5 class="mb-0">
                  Telp : <%= @dashboard_city.telp %>
                </h5>
                <h5 class="mb-0">
                  Email : <%= @dashboard_city.email %>
                </h5>
              </div>
              <div class="col pl-0">
                <h5 class="mb-0">
                  Luas Wilayah : <%= @dashboard_city.area %> km<sup>2</sup>
                </h5>
                <h5 class="mb-0">
                  Jumlah Penduduk : <%= @dashboard_city.population %>
                </h5>
                <h5 class="mb-0">
                  Jumlah Kecamatan : <%= @dashboard_city.sub_district %>
                </h5>
                <h5 class="mb-0">
                  Jumlah Desa/Kelurahan : <%= @dashboard_city.village %>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
<% @dashboard_years.sort{|a,b|b.year<=>a.year}.each do |dashboard_year| %>
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col ml--2">
              <h4 class="mb-0">
                <%= dashboard_year.year %>
              </h4>
              <small><%= dashboard_year.action_plans.where('city_id = ?', @dashboard_city.id).count %> Rencana Aksi </small>
            </div>
            <div class="col-auto">
              <%= link_to 'Lihat', dashboard_city_year_action_plans_path(@dashboard_city, dashboard_year), class:'btn btn-sm btn-primary'%>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
</div>

<div class="modal fade modal-new" id="edit-dashboard-city" tabindex="-1" role="dialog" aria-labeledby="edit-dashboard-city" aria-hidden="true">
  <div class="modal-dialog modal- modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="card bg-secondary border-0 mb-0">
          <div class="card-body px-lg-5 py-lg-5">
            <div class="">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="h3 text-center text-muted mb-4"><%= @dashboard_city.city %></div>
            <%= render partial: 'dashboard/cities/form', locals: {dashboard_city: @dashboard_city} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% end %>
<% if notice %>
  <div class="notifikasi" data-notifikasi="<%= notice %>"></div>
<% end %>
<%= render partial: 'layouts/body' %>
