<%= form_with(model: role, local: true, role: "form") do |form| %>
  <% if role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
      <% role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :name_role, id: "#{ role.slug ? ('role-'+role.slug) : :name_role}",class: "form-control", placeholder: 'Nama Role', autocomplete: "off", required: true %>
  </div>

  <div class="text-center">
    <%= form.submit 'Simpan', class: "btn btn-neutral" %>
  </div>
<% end %>
