<% content_for :header do %>
<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Roles</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
              <li class="breadcrumb-item"><a href="#">Roles</a></li>
              <li class="breadcrumb-item active" aria-current="page">Roles</li>
            </ol>
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <%# yield :header_button %>
          <%= link_to 'Tambah', '', class: "btn btn-sm btn-neutral", data: {toggle: "modal", target: "#modal-new-role"} %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% content_for :isi_content do %>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header border-0">
        <h3 class="mb-0">Roles</h3>
      </div>
      <div class="table-responsive">
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th>Nama Role</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @roles.each.with_index do |role, index| %>
              <% if index.odd? %>
              <tr class="table-light">
              <% else %>
              <tr>
              <% end %>
                <td><%= role.name_role %></td>
                <td class="table-action text-right">
                  <%= link_to role_role_permissions_path(role), class: "table-action" do%>
                    <i class="fas fa-eye"></i>
                  <% end %>
                  <%= link_to 'Ubah', class: "table-action", data: {toggle: "modal", target: "#modal-edit-role-#{role.slug}"} do%>
                    <i class="fas fa-user-edit"></i>
                  <% end %>
                  <%= link_to role, method: :delete, class: "table-action table-action-delete", remote: true, data: {confirm: 'Anda Yakin?'} do %>
                    <i class="fas fa-trash"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="modal fade modal-new" id="modal-new-role" tabindex="-1" role="dialog" aria-labeledby="modal-new-role" aria-hidden="true">
  <div class="modal-dialog modal- modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="card bg-secondary border-0 mb-0">
          <div class="card-body px-lg-5 py-lg-5">
            <div class="h3 text-center text-muted mb-4">Role</div>
            <%= render partial: 'form', locals: {role: Role.new} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% @roles.each do |role| %>
<div class="modal fade modal-edit" id="modal-edit-role-<%=role.slug%>" tabindex="-1" role="dialog" aria-labeledby="modal-edit-role-<%=role.slug%>" aria-hidden="true">
  <div class="modal-dialog modal- modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="card bg-secondary border-0 mb-0">
          <div class="card-body px-lg-5 py-lg-5">
            <div class="h3 text-center text-muted mb-4">Role</div>
            <%= render partial: 'form', locals: {role: role} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>
<% if notice %>
  <div class="notifikasi" data-notifikasi="<%= notice %>"></div>
<% end %>
<%= render partial: 'layouts/body' %>
