<% content_for :isi_content do %>
<% content_for :header_button do %>
  <%= link_to 'New Role', new_role_path, class:'btn btn-sm btn-neutral'%>
<% end %>
<p id="notice"><%= notice %></p>

<h1>Roles</h1>
<div class='card'>
<div class="tab-content" >
  <div id="table-component" class="tab-pane tab-example-result fade active show" role="tabpanel" aria-labelledby="table-component-tab">
    <div class="table-responsive">
      <div>
        <table class="table align-items-center">
          <thead class="thead-light">
            <tr>
              <th><span class="text-lg">Name role</span></th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @roles.each do |role| %>
            <tr>
              <td><%= role.name_role %></td>
              <td class="text-right">
                <div class="dropdown">
                  <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                    <%= link_to 'Show', role, class:'dropdown-item'%>
                    <%= link_to 'Edit', edit_role_path(role), class:'dropdown-item' %>
                    <%= link_to 'Destroy', role, method: :delete, data: { confirm: 'Are you sure?' }, class:'dropdown-item' %>
                  </div>
                </div>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  </div>
  <br>

<% end %>
<%= render partial: 'layouts/body' %>
