<%= form_for ([@year,@action_plan]) do |form| %>
  <% if action_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(action_plan.errors.count, "error") %> prohibited this action_plan from being saved:</h2>

      <ul>
      <% action_plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code_action_plans %>
    <%= form.text_field :code_action_plans %>
  </div>

  <div class="field">
    <%= form.label :action_plan %>
    <%= form.text_field :action_plan %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
