<%= form_with(model: city, remote: true, role: "form")do |form| %>
  <% if city.errors.any? %>

    <div id="error_explanation">
      <h2><%= pluralize(city.errors.count, "error") %> prohibited this city from being saved:</h2>

      <ul>
      <% city.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if city.slug %>
    <div class="form-group mb-3">
      <%= form.text_field :city, id: "city-#{city.slug}",class: "form-control", placeholder: 'Nama Kabupaten/Kota', autocomplete: "off", required: true %>
    </div>

    <div class="form-group">
      <div class="custom-file">
        <%= form.file_field :logo_city, id: "logo-city-#{city.slug}", class: "custom-file-input", "data-multiple-caption": "{count} files selected", autocomplete: "off", lang: "en" %>
        <label class="custom-file-label" for="logo-city-<%=city.slug%>">Unggah Logo</label>
      </div>
    </div>
  <% else %>
    <div class="form-group mb-3">
      <%= form.text_field :city, class: "form-control", placeholder: 'Nama Kabupaten/Kota', autocomplete: "off", required: true %>
    </div>

    <div class="form-group">
      <div class="custom-file">
        <%= form.file_field :logo_city, class: "custom-file-input", "data-multiple-caption": "{count} files selected", autocomplete: "off", lang: "en" %>
        <label class="custom-file-label" for="logo-city-<%=city.slug%>">Unggah Logo</label>
      </div>
    </div>
  <% end %>

  <div class="text-center">
    <%= form.submit 'Simpan', class: "btn btn-neutral my-3" %>
  </div>
<% end %>
