<%= form_with(model: city, remote: true, role: "form")do |form| %>
  <% if city.errors.any? %>

    <div id="error_explanation">
      <h2><%= pluralize(city.errors.count, "error") %> prohibited this city from being saved:</h2>

      <ul>
      <% city.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if city.slug %>
  <div class="row">
    <div class="col">
    <div class="form-group mb-3">
      <%= form.text_field :city, id: "city-#{city.slug}",class: "form-control", placeholder: 'Nama Kabupaten/Kota', autocomplete: "off", required: true %>
    </div>
    <div class="form-group mb-3">
      <%= form.text_field :mayor, id: "mayor-#{city.slug}",class: "form-control", placeholder: 'Bupati/Walikota', autocomplete: "off", required: true %>
    </div>
    <div class="form-group mb-3">
      <%= form.text_field :vice_mayor, id: "vice_mayor-#{city.slug}",class: "form-control", placeholder: 'Wakil Bupati/Walikota', autocomplete: "off", required: true %>
    </div>
    <div class="form-group mb-3">
      <%= form.text_field :area, id: "area-#{city.slug}",class: "form-control", placeholder: 'Luas Wilayah', autocomplete: "off", required: true %>
    </div>
    <div class="form-group mb-3">
      <%= form.text_field :population, id: "population-#{city.slug}",class: "form-control", placeholder: 'Jumlah Penduduk', autocomplete: "off", required: true %>
    </div>
    <div class="form-group mb-3">
      <%= form.text_field :sub_district, id: "sub_district-#{city.slug}",class: "form-control", placeholder: 'Jumlah Kecamatan', autocomplete: "off", required: true %>
    </div>
    <div class="form-group mb-3">
      <%= form.text_field :village, id: "village-#{city.slug}",class: "form-control", placeholder: 'Jumlah Kelurahan/Desa', autocomplete: "off", required: true %>
    </div>
    </div>
    <div class="col">
      <div class="form-group mb-3">
        <%= form.text_field :head_of_kesbangpol, id: "head_of_kesbangpol-#{city.slug}",class: "form-control", placeholder: 'Kepala Kesbangpol', autocomplete: "off", required: true %>
      </div>
      <div class="form-group mb-3">
        <%= form.text_field :head_divion, id: "head_division-#{city.slug}",class: "form-control", placeholder: 'Kepala Bagian', autocomplete: "off", required: true %>
      </div>
      <div class="form-group mb-3">
        <%= form.text_area :address, id: "address-#{city.slug}",class: "form-control", placeholder: 'Alamat', autocomplete: "off", required: true %>
      </div>
      <div class="form-group mb-3">
        <%= form.text_field :telp, id: "telp-#{city.slug}",class: "form-control", placeholder: 'Nomor Telepon', autocomplete: "off", required: true %>
      </div>
      <div class="form-group mb-3">
        <%= form.text_field :email, id: "email-#{city.slug}",class: "form-control", placeholder: 'Email', autocomplete: "off", required: true %>
      </div>
      <div class="form-group">
        <div class="custom-file">
          <%= form.file_field :logo_city, id: "logo-city-#{city.slug}", class: "custom-file-input", "data-multiple-caption": "{count} files selected", autocomplete: "off", lang: "en" %>
          <label class="custom-file-label" for="logo-city-<%=city.slug%>">Unggah Logo</label>
        </div>
      </div>
    </div>
  </div>
  <% else %>
  <div class="row">
    <div class="col">
      <div class="form-group mb-3">
        <%= form.text_field :city, class: "form-control", placeholder: 'Nama Kabupaten/Kota', autocomplete: "off", required: true %>
      </div>
      <div class="form-group mb-3">
        <%= form.text_field :mayor, class: "form-control", placeholder: 'Bupati/Walikota', autocomplete: "off", required: true %>
      </div>
      <div class="form-group mb-3">
        <%= form.text_field :vice_mayor, class: "form-control", placeholder: 'Wakil Bupati/Walikota', autocomplete: "off", required: true %>
      </div>
      <div class="form-group mb-3">
        <%= form.text_field :area, class: "form-control", placeholder: 'Luas Wilayah', autocomplete: "off", required: true %>
      </div>
      <div class="form-group mb-3">
        <%= form.text_field :population, class: "form-control", placeholder: 'Jumlah Penduduk', autocomplete: "off", required: true %>
      </div>
      <div class="form-group mb-3">
        <%= form.text_field :sub_district, class: "form-control", placeholder: 'Jumlah Kecamatan', autocomplete: "off", required: true %>
      </div>
      <div class="form-group mb-3">
        <%= form.text_field :village, class: "form-control", placeholder: 'Jumlah Kelurahan/Desa', autocomplete: "off", required: true %>
      </div>
    </div>
    <div class="col">
      <div class="form-group mb-3">
        <%= form.text_field :head_of_kesbangpol, class: "form-control", placeholder: 'Kepala Kesbangpol', autocomplete: "off", required: true %>
      </div>
      <div class="form-group mb-3">
        <%= form.text_field :head_division, class: "form-control", placeholder: 'Kepala Bagian', autocomplete: "off", required: true %>
      </div>
      <div class="form-group mb-3">
        <%= form.text_area :address, class: "form-control", placeholder: 'Alamat', autocomplete: "off", required: true %>
      </div>
      <div class="form-group mb-3">
        <%= form.text_field :telp, class: "form-control", placeholder: 'Nomor Telepon', autocomplete: "off", required: true %>
      </div>
      <div class="form-group mb-3">
        <%= form.text_field :email, class: "form-control", placeholder: 'Email', autocomplete: "off", required: true %>
      </div>
      <div class="form-group">
        <div class="custom-file">
          <%= form.file_field :logo_city, class: "custom-file-input", "data-multiple-caption": "{count} files selected", autocomplete: "off", lang: "en" %>
          <label class="custom-file-label" for="logo-city">Unggah Logo</label>
        </div>
      </div>
    </div>
  </div>




  <% end %>

  <div class="text-center">
    <%= form.submit 'Simpan', class: "btn btn-neutral my-3" %>
  </div>
<% end %>
