<% content_for :header do %>
  <% content_for :breadcrumb do %>
  <h6 class="h2 text-white d-inline-block mb-0">Kabupaten/Kota</h6>
  <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
    <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
      <li class="breadcrumb-item"><a href="#"><i class="ni ni-ungroup"></i></a></li>
      <li class="breadcrumb-item"><a href="#">Master</a></li>
      <li class="breadcrumb-item active" aria-current="page">Kabupaten/Kota</li>
    </ol>
  </nav>
  <% end %>
  <% content_for :header_button do %>
    <%= link_to 'Tambah', '',class: "btn btn-sm btn-neutral", "data-toggle": "modal", "data-target": "#modal-new-city" %>
  <% end %>
  <%= render partial: 'layouts/header_all'%>
<% end %>

<% content_for :isi_content do %>
<div class="row">
<% @cities.each do |city| %>
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-auto">
              <% if (city.logo_city.url(:thumb) != '/images/thumb/missing.png')%>
                <%= image_tag city.logo_city.url(:thumb), style: "width: 48px; height: 48px" %>
              <% else %>
                <%= image_tag 'img/no_image.png', style: "width: 48px; height: 48px" %>
              <% end %>
            </div>
            <div class="col ml--2">
              <h5 class="h3 title">
                <span class="d-block mb-1"><%= city.city %></span>
              </h5>
            </div>
            <div class="col-auto">
              <button type="button" class="btn btn-sm btn-neutral mr-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-h"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right" style="">
                <%= link_to 'Ubah', '', class: "dropdown-item", data: {toggle: "modal", target: "#modal-edit-city-#{city.slug}"} %>
                <%= link_to 'Hapus', city, class:"dropdown-item", method: :delete, data: { confirm: 'Anda Yakin?' } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
</div>

<div class="modal fade modal-new" id="modal-new-city" tabindex="-1" role="dialog" aria-labeledby="modal-new-city" aria-hidden="true">
  <div class="modal-dialog modal- modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="card bg-secondary border-0 mb-0">
          <div class="card-body px-lg-5 py-lg-5">
            <div class="h3 text-center text-muted mb-4">Kabupaten/Kota</div>
            <%= render partial: 'form', locals: {city: City.new} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% @cities.each do |city| %>
<div class="modal fade modal-edit" id="modal-edit-city-<%=city.slug%>" tabindex="-1" role="dialog" aria-labeledby="modal-edit-city-<%=city.slug%>" aria-hidden="true">
  <div class="modal-dialog modal- modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="card bg-secondary border-0 mb-0">
          <div class="card-body px-lg-5 py-lg-5">
            <div class="h3 text-center text-muted mb-4">Kabupaten/Kota</div>
            <%= render partial: 'form', locals: {city: city} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>
<% if notice %>
  <div class="notifikasi" data-notifikasi="<%= notice %>"></div>
<% end %>
<%= render partial: 'layouts/body' %>
