<% content_for :isi_content do %>
<p id="notice"><%= notice %></p>

<h1>Cities</h1>

<table>
  <thead>
    <tr>
      <th>City</th>
      <th>Logo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.city %></td>
        <td><%= image_tag city.logo_city.url(:thumb) %></td>
        <td><%= link_to 'Show', city %></td>
        <td><%= link_to 'Edit', edit_city_path(city) %></td>
        <td><%= link_to 'Destroy', city, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New City', new_city_path %>
<% @cities.each do |city| %>
  <div class="row">
    <div class="col-3">
      <div class="card">
        <div class="card-body">
          <%= image_tag city.logo_city.url(:thumb), class: "rounded-circle img-center img-fluid shadow shadow-lg--hover" %>
          <div class="pt-4 text-center">
            <h5 class="h3 title">
              <span class="d-block mb-1"><%= city.city %></span>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<% end %>
<%= render partial: 'layouts/body' %>
