<%= form_with(model: year, local: true, role: "form") do |form| %>
  <% if year.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(year.errors.count, "error") %> prohibited this year from being saved:</h2>

      <ul>
      <% year.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
          <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
      </div>
      <%= form.text_field :year, class: "form-control datepicker-group", placeholder: "Pilih Tahun", autocomplete: "off" %>
    </div>
  </div>

  <div class="text-center">
    <%= form.submit 'Simpan', class: "btn btn-neutral" %>
  </div>
<% end %>
