<p id="notice"><%= notice %></p>

<h1>Years</h1>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @years.each do |year| %>
      <tr>
        <td><%= year.year %></td>
        <% year.city_param_url = @city_param_url.id %>
        <% p year.city_param_url %>
        <% p "*" * 200 %>
        <% if params[:city_id].nil? %>
          <td><%= link_to 'Show', year %></td>
          <td><%= link_to 'Edit', edit_year_path(year) %></td>
          <td><%= link_to 'Destroy', year, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <td><%= link_to 'Rencana Aksi', year_action_plans_path(year)%></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Year', new_year_path %>
